# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [12]:
#!git clone https://github.com/PiotrJZielinski/ml-throwdown-datasets
#!ls  'ml-throwdown-datasets/'  
cars1 = pd.read_csv('../03_Grouping/ml-throwdown-datasets/cars1.csv', sep = ',')
cars2 = pd.read_csv('../03_Grouping/ml-throwdown-datasets/cars1.csv', sep = ',')

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [13]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [14]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(198, 14)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = cars1.append(cars2)
cars

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 9,acceleration,car,cylinders,displacement,horsepower,model,mpg,origin,weight
0,NaN,NaN,NaN,NaN,NaN,12.0,chevrolet chevelle malibu,8,307,130,70,18.0,1,3504
1,NaN,NaN,NaN,NaN,NaN,11.5,buick skylark 320,8,350,165,70,15.0,1,3693
2,NaN,NaN,NaN,NaN,NaN,11.0,plymouth satellite,8,318,150,70,18.0,1,3436
3,NaN,NaN,NaN,NaN,NaN,12.0,amc rebel sst,8,304,150,70,16.0,1,3433
4,NaN,NaN,NaN,NaN,NaN,10.5,ford torino,8,302,140,70,17.0,1,3449
5,NaN,NaN,NaN,NaN,NaN,10.0,ford galaxie 500,8,429,198,70,15.0,1,4341
6,NaN,NaN,NaN,NaN,NaN,9.0,chevrolet impala,8,454,220,70,14.0,1,4354
7,NaN,NaN,NaN,NaN,NaN,8.5,plymouth fury iii,8,440,215,70,14.0,1,4312
8,NaN,NaN,NaN,NaN,NaN,10.0,pontiac catalina,8,455,225,70,14.0,1,4425
9,NaN,NaN,NaN,NaN,NaN,8.5,amc ambassador dpl,8,390,190,70,15.0,1,3850
10,NaN,NaN,NaN,NaN,NaN,10.0,dodge challenger se,8,383,170,70,15.0,1,3563
11,NaN,NaN,NaN,NaN,NaN,8.0,plymouth 'cuda 340,8,340,160,70,14.0,1,3609
12,NaN,NaN,NaN,NaN,NaN,9.5,chevrolet monte carlo,8,400,150,70,15.0,1,3761
13,NaN,NaN,NaN,NaN,NaN,10.0,buick estate wagon (sw),8,455,225,70,14.0,1,3086
14,NaN,NaN,NaN,NaN,NaN,15.0,toyota corona mark ii,4,113,95,70,24.0,3,2372
15,NaN,NaN,NaN,NaN,NaN,15.5,plymouth duster,6,198,95,70,22.0,1,2833
16,NaN,NaN,NaN,NaN,NaN,15.5,amc hornet,6,199,97,70,18.0,1,2774
17,NaN,NaN,NaN,NaN,NaN,16.0,ford maverick,6,200,85,70,21.0,1,2587
18,NaN,NaN,NaN,NaN,NaN,14.5,datsun pl510,4,97,88,70,27.0,3,2130
19,NaN,NaN,NaN,NaN,NaN,20.5,volkswagen 1131 deluxe sedan,4,97,46,70,26.0,2,1835
20,NaN,NaN,NaN,NaN,NaN,17.5,peugeot 504,4,110,87,70,25.0,2,2672
21,NaN,NaN,NaN,NaN,NaN,14.5,audi 100 ls,4,107,90,70,24.0,2,2430
22,NaN,NaN,NaN,NaN,NaN,17.5,saab 99e,4,104,95,70,25.0,2,2375
23,NaN,NaN,NaN,NaN,NaN,12.5,bmw 2002,4,121,113,70,26.0,2,2234
24,NaN,NaN,NaN,NaN,NaN,15.0,amc gremlin,6,199,90,70,21.0,1,2648
25,NaN,NaN,NaN,NaN,NaN,14.0,ford f250,8,360,215,70,10.0,1,4615
26,NaN,NaN,NaN,NaN,NaN,15.0,chevy c20,8,307,200,70,10.0,1,4376
27,NaN,NaN,NaN,NaN,NaN,13.5,dodge d200,8,318,210,70,11.0,1,4382
28,NaN,NaN,NaN,NaN,NaN,18.5,hi 1200d,8,304,193,70,9.0,1,4732
29,NaN,NaN,NaN,NaN,NaN,14.5,datsun pl510,4,97,88,71,27.0,3,2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,NaN,NaN,NaN,NaN,NaN,17.0,ford pinto,4,140,83,75,23.0,1,2639
169,NaN,NaN,NaN,NaN,NaN,16.0,amc gremlin,6,232,100,75,20.0,1,2914
170,NaN,NaN,NaN,NaN,NaN,18.5,pontiac astro,4,140,78,75,23.0,1,2592
171,NaN,NaN,NaN,NaN,NaN,13.5,toyota corona,4,134,96,75,24.0,3,2702
172,NaN,NaN,NaN,NaN,NaN,16.5,volkswagen dasher,4,90,71,75,25.0,2,2223
173,NaN,NaN,NaN,NaN,NaN,17.0,datsun 710,4,119,97,75,24.0,3,2545
174,NaN,NaN,NaN,NaN,NaN,14.5,ford pinto,6,171,97,75,18.0,1,2984
175,NaN,NaN,NaN,NaN,NaN,14.0,volkswagen rabbit,4,90,70,75,29.0,2,1937
176,NaN,NaN,NaN,NaN,NaN,17.0,amc pacer,6,232,90,75,19.0,1,3211
177,NaN,NaN,NaN,NaN,NaN,15.0,audi 100ls,4,115,95,75,23.0,2,2694
178,NaN,NaN,NaN,NaN,NaN,17.0,peugeot 504,4,120,88,75,23.0,2,2957
179,NaN,NaN,NaN,NaN,NaN,14.5,volvo 244dl,4,121,98,75,22.0,2,2945
180,NaN,NaN,NaN,NaN,NaN,13.5,saab 99le,4,121,115,75,25.0,2,2671
181,NaN,NaN,NaN,NaN,NaN,17.5,honda civic cvcc,4,91,53,75,33.0,3,1795
182,NaN,NaN,NaN,NaN,NaN,15.5,fiat 131,4,107,86,76,28.0,2,2464
183,NaN,NaN,NaN,NaN,NaN,16.9,opel 1900,4,116,81,76,25.0,2,2220
184,NaN,NaN,NaN,NaN,NaN,14.9,capri ii,4,140,92,76,25.0,1,2572
185,NaN,NaN,NaN,NaN,NaN,17.7,dodge colt,4,98,79,76,26.0,1,2255
186,NaN,NaN,NaN,NaN,NaN,15.3,renault 12tl,4,101,83,76,27.0,2,2202
187,NaN,NaN,NaN,NaN,NaN,13.0,chevrolet chevelle malibu classic,8,305,140,76,17.5,1,4215
188,NaN,NaN,NaN,NaN,NaN,13.0,dodge coronet brougham,8,318,150,76,16.0,1,4190
189,NaN,NaN,NaN,NaN,NaN,13.9,amc matador,8,304,120,76,15.5,1,3962
190,NaN,NaN,NaN,NaN,NaN,12.8,ford gran torino,8,351,152,76,14.5,1,4215
191,NaN,NaN,NaN,NaN,NaN,15.4,plymouth valiant,6,225,100,76,22.0,1,3233
192,NaN,NaN,NaN,NaN,NaN,14.5,chevrolet nova,6,250,105,76,22.0,1,3353
193,NaN,NaN,NaN,NaN,NaN,17.6,ford maverick,6,200,81,76,24.0,1,3012
194,NaN,NaN,NaN,NaN,NaN,17.6,amc hornet,6,232,90,76,22.5,1,3085
195,NaN,NaN,NaN,NaN,NaN,22.2,chevrolet chevette,4,85,52,76,29.0,1,2035
196,NaN,NaN,NaN,NaN,NaN,22.1,chevrolet woody,4,98,60,76,24.5,1,2164
197,NaN,NaN,NaN,NaN,NaN,14.2,vw rabbit,4,90,70,76,29.0,2,1937

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
nr_owners = np.random.randint(15000, high=73001, size=396, dtype='l')
len(nr_owners)

396

### Step 8. Add the column owners to cars

In [24]:
cars['owners'] = nr_owners
cars.tail()

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 9,acceleration,car,cylinders,displacement,horsepower,model,mpg,origin,weight,owners
193,NaN,NaN,NaN,NaN,NaN,17.6,ford maverick,6,200,81,76,24.0,1,3012,71305
194,NaN,NaN,NaN,NaN,NaN,17.6,amc hornet,6,232,90,76,22.5,1,3085,24488
195,NaN,NaN,NaN,NaN,NaN,22.2,chevrolet chevette,4,85,52,76,29.0,1,2035,66525
196,NaN,NaN,NaN,NaN,NaN,22.1,chevrolet woody,4,98,60,76,24.5,1,2164,37346
197,NaN,NaN,NaN,NaN,NaN,14.2,vw rabbit,4,90,70,76,29.0,2,1937,71074